@charset "UTF-8";
.topframe
{
border-width: 2px;
padding-top: 10px;
padding-bottom: 10px;
background-color:rgb(225,225,225);
display:block;
width:1500px;
}
.secondframe
{
border-width:0;
padding-top: 10px;
padding-bottom: 10px;
background-color:rgb(240,240,240);
display:block;
width:1500px;
}
.thirdframe
{
border-color:rgb(230,230,230);
border-width:0.1px;
border-style:solid;
padding-top: 5px;
padding-bottom: 5px;
background-color:rgb(255,255,255);
display:block;
width:895px;
margin-left:300px;
padding-left:5px;
}
.store
{
	padding-left:765px;
}
.reply
{
border-style:solid;
boder-width:0.1px;
border-color:rgb(150,150,250);
background-color:rgb(150,150,250);
font-size:white;
}
.onetable
{
border-color:rgb(230,230,230);
border-width:0.1px;
height:1000px;
border-style:solid;
background-color:rgb(255,255,255);
display:block;
width:900px;
margin-left:300px;
padding:0;
}
.replydl
{
    margin:0;
}
.replydt 
{
    float: left;
    display:inline;
    border-color:rgb(230,230,230);
    border-width:0.1px;
    border-style:solid;
    height:200px;
    width:200px;  
}
.replydd 
{
    float:left;
    display:inline;
    margin:0;
    padding-left:140px;
    height:200px;
    width:559.5px;
    border-color:rgb(230,230,230);
    border-width:0.1px;
    border-style:solid;
}
.replydl{clear:left;}
a
{
color:rgb(0,0,0);
min-width:80px;
}
a:hover
{
font-style:italic;
color:rgb(255,0,0);
}
.dropdown 
{
    position: relative;
    height: 30px;
    line-height: 30px;
}

.dropdownmenu 
{
    position: absolute;
    left: 0;
    top: 18px;
    width: 160px;
    display:none;
    border-style:none;
    background-color:rgb(240,240,240);
}
.dropdown:hover{}

.dropdown:hover .dropdownmenu{
    display: block;
}