<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Forum</display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.forum.servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.forum.servlet.Register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Personal</servlet-name>
    <servlet-class>com.forum.servlet.Personal</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyUserInfo</servlet-name>
    <servlet-class>com.forum.servlet.ModifyUserInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Submitwrite</servlet-name>
    <servlet-class>com.forum.servlet.Submitwrite</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Submitreply</servlet-name>
    <servlet-class>com.forum.servlet.Submitreply</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.forum.servlet.DeleteUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisplayThread</servlet-name>
    <servlet-class>com.forum.servlet.DisplayThread</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteThread</servlet-name>
    <servlet-class>com.forum.servlet.DeleteThread</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyForumInfo</servlet-name>
    <servlet-class>com.forum.servlet.ModifyForumInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddForum</servlet-name>
    <servlet-class>com.forum.servlet.AddForum</servlet-class>
  </servlet>










  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/servlet/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Personal</servlet-name>
    <url-pattern>/servlet/Personal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyUserInfo</servlet-name>
    <url-pattern>/servlet/ModifyUserInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Submitwrite</servlet-name>
    <url-pattern>/servlet/Submitwrite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Submitreply</servlet-name>
    <url-pattern>/servlet/Submitreply</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/servlet/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisplayThread</servlet-name>
    <url-pattern>/servlet/DisplayThread</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteThread</servlet-name>
    <url-pattern>/servlet/DeleteThread</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyForumInfo</servlet-name>
    <url-pattern>/servlet/ModifyForumInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddForum</servlet-name>
    <url-pattern>/servlet/AddForum</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>